<form action="http://getsimpleform.com/messages?form_api_token=6f712f289b4db9daec26a6b271c47aae" method="post">
  <input type="hidden" name="redirect_to" value="http://eternalistic.github.io/contact/success" />
	<div class="form-item field-name">
		<label class="infield" for="field-name">Name</label>
		<input type="text" name="name" class="form-text input-large" id="field-name" />
	</div>

	<div class="form-item field-email">
		<label class="infield" for="field-email">Email</label>
		<input type="email" name="email" class="form-text input-large" id="field-email" />
	</div>

	<div class="form-item field-message">
		<label class="infield" for="field-message">Message</label>
	  <textarea rows="5" name="message" class="form-textarea" id="field-message"></textarea>
	</div>

  <input type="submit" value="Send it" class="form-submit" />
</form>