        <nav id="secondary" role="navigation">
          <ul class="menu">
            <li>
              <a href="#" id="projects">Projects</a>
              <ul class="menu projects-menu">
                <!--
                <li><a href="/projects/yokes-fresh-markets">Yoke's Fresh Markets</a></li>
                <li><a href="/projects/digital-turbine">Digital Turbine</a></li>
                -->
                <li><a href="/projects/facing-history-and-ourselves">Facing History and Ourselves</a></li>
                <li><a href="/projects/families-usa">Families USA</a></li>
                <li><a href="/projects/the-salmon-project">The Salmon Project</a></li>
                <li><a href="/projects/the-caldwell-project">The Caldwell Project</a></li>
                <li><a href="/projects/dell-symantec-portal">Dell / Symantec Portal</a></li>
                <li><a href="/projects/maxcess-international">Maxcess International</a></li>
                <li><a href="/projects/oreilly-ignite">O'Reilly Ignite</a></li>
                <!--
                <li><a href="/projects/world-health-advocacy">World Health Advocacy</a></li>
                <li><a href="/projects/eyeneer-tv">Eyeneer TV</a></li>
                <li><a href="/projects/eaton-certified-contractor-network">Eaton Certified Contractor Network</a></li>
                -->
              </ul>
            </li>
          </ul>
        </nav><!-- /nav -->