//
// Colors
//


// Defaults
$black: 					#000;
$white: 					#fff;

// Gray
$gray-50: 				#435b5c;
$gray-100: 				#7f8989;
$gray-150: 				#9eaaa9;
$gray-166: 				#a6adad; 
$gray-223: 				#dfe3e3;
$gray-247: 				#f7f8f8;




$gray-68: 				#444;
$gray-84: 				#545351;
$gray-103: 				#676765;
$gray-210: 				#d2d2d7;

$brand: 					#a8b3bb;

$bg: 							#f6f5f1;
