//
// Page
//


// HTML
html {
	background: $bg;
  color: $gray-150;
  font-family: $font-body;
  text-shadow: 0 1px 0 $white;
}


// Body
body {
}


// HTML + Body
html, 
body {
  height: 100%;
	margin: 0;
	padding: 0;
}


// Page
#page {
  height: 100%;
}


// Header
#header {
  background: $white;
  height: 100%;
  overflow-y: auto;
  padding: em(40px);
  position: fixed;

  @include breakpoint($bp-large, $no-query: true) {   
    @include grid-span(4, 1);
  }
}


// Header info
#header-info {
  font-size: em(12px);
}


// Logo
#logo {
  display: block;
  margin-bottom: em(20px);

  img {
    display: block;
    width: 100px;
  }
}


// Navigation
#navigation {
}


// Main
#main {
  color: $gray-68;
  height: 100%;
  padding: em(40px);

  @include breakpoint($bp-large, $no-query: true) {   
    @include grid-span(14, 5);
  }
}


// Content
#content {
  max-width: 800px;
}


// Footer
footer {
}
