//
// About
//


// Toolkit
.toolkit {
	margin-bottom: em(20px);

	@extend %clearfix;
}


// Framework
.framework {
	margin-bottom: em(20px);

	@include breakpoint($bp-xsmall, $no-query: false) {
		margin-bottom: 0;

		@include grid-span(1, 1);
	}

	@include breakpoint($bp-large, $no-query: true) {
		margin-bottom: 0;

		@include grid-span(2, 1);
	}
}


// Tools
.tools {
	margin-bottom: em(20px);

	@include breakpoint($bp-xsmall, $no-query: false) {
		margin-bottom: 0;

		@include grid-span(1, 2);
	}

	@include breakpoint($bp-large, $no-query: true) {
		margin-bottom: 0;

		@include grid-span(2, 3);
	}
}


// Other
.other {
	margin-bottom: em(20px);

	@include breakpoint($bp-xsmall, $no-query: false) {
		margin-bottom: 0;

		@include grid-span(1, 3);
	}

	@include breakpoint($bp-large, $no-query: true) {
		margin-bottom: 0;

		@include grid-span(2, 5);
	}
}
