//
// Page
//


// HTML
html {
	background: $bg;
  color: #444;
  font-family: $font-body;
  font-weight: 100;
}


// Body
body {
}


// HTML + Body
html, 
body {
  height: 100%;
	margin: 0;
	padding: 0;
}


// Page
#page {
  height: 100%;
}


// Header
#header {
  background: $white;
  border-bottom: 1px solid $gray-223;
  padding: em(20px);

  @extend %clearfix;

  @include box-shadow(rgba($black, .125) 0 0 4px);

  @include breakpoint($bp-large, $no-query: true) {  
    border-bottom: none; 
    border-right: 1px solid $gray-223;
    height: 100%;
    overflow-y: auto;
    padding: em(40px);
    position: fixed;
    width: 250px;
  }

  p {
    font-size: em(13px);
  }
}


// Header top
#header-top {
  @extend %clearfix;
}


// Header info
#header-info {
  position: relative;

  @include grid-span(3, 1);

  @include breakpoint($bp-large, $no-query: true) {
    margin-bottom: em(20px);
    width: 100%;
  }

  p {
    margin-bottom: 0;
  }
}


// Logo
#logo {
  display: block;
  margin-bottom: em(20px);

  img {
    display: block;
    width: 100px;
  }
}


// Main
#main {
  color: $gray-84;
  padding: em(20px);

  @include breakpoint($bp-large, $no-query: true) {   
    height: 100%;
    margin-left: 250px;
    padding: em(40px);
  }
}


// Content
#content {
  @include breakpoint($bp-large, $no-query: true) {
    max-width: 800px;
    padding-bottom: em(40px);
  }
}
