<div class="tools">

	<h2>Tools</h2>

	<ul class="reset">
		<li><a href="http://git-scm.com">Git</a>
			<ul>
				<li><a href="http://beanstalkapp.com">Beanstalk</a>
				<li><a href="http://bitbucket.org">BitBucket</a>
				<li><a href="http://github.com">GitHub</a>
			</ul>
		</li>
		<li><a href="http://www.iterm2.com">iTerm2</a></li>
		<li><a href="http://www.mamp.info">MAMP</a></li>
		<li><a href="http://www.photoshop.com">Photoshop</a></li>
		<li><a href="http://www.sequelpro.com">Sequel Pro</a></li>
		<li><a href="http://www.sublimetext.com">Sublime Text</a></li>
	</ul>

</div>
