//
// Helpers
//


// Element - Invisible
.element-invisible {
  @include element-invisible
}


// Element - Focusable
.element-focusable {
  @include element-focusable
}


// Skip link
#skip-link {
  margin: 0;

  a,
  a:visited {
    background-color: #666;
    color: $white;
    display: block;
    padding: 2px 0 3px 0;
    text-align: center;
    width: 100%;
  }
}


// Screenshot
img.screenshot {
  border: 1px solid $gray-223;
  display: block;
  margin-bottom: em(20px);

  @include box-shadow(rgba($black, .125) 0 0 4px);

  @include breakpoint($bp-large, $no-query: true) {
    margin-bottom: em(40px);
  }

  // Last
  .last & {
    margin-bottom: 0;
  }
}


// Clear
.clear {
  clear: both;
}


// Clear fix
.clearfix {
  @extend %clearfix;
}


// Inline
.inline {
  @include inline-block-list;
}


// Small
.small {
  font-size: em(12px);
}
