//
// Navigation
//


// Nav toggle
#nav-toggle {
	cursor: pointer;
	display: block;
	height: 25px;
	padding: 10px 0;

	@include grid-span(1, 4);

	width: 25px;

  @include breakpoint($bp-large, $no-query: true) {
  	display: none !important;
  }

	& span, 
	& span:before, 
	& span:after {
		background: $gray-150;
		border-radius: 1px;
		content: '';
		display: block;
		height: 3px;
		position: absolute;
		width: 25px;

	 	@include single-transition(all, 300ms, ease-in-out);
	}

	& span:before {
		top: -8px;
	}

	& span:after {
		bottom: -8px;
	}

	&.active span {
		background-color: transparent;

		&:before, 
		&:after {
			top: 0;
		}

		&:before {
			@include rotate(45deg);
		}
		&:after {
			@include rotate(-45deg);
		}
	}
}


// Menu blocks
.menu-blocks {
	display: none;

	@include breakpoint($bp-large, $no-query: true) {
		display: block !important;
	}
}


// Nav
nav {

	h2 {
		color: $gray-50;
		font-size: em(13px);
		font-weight: 100;
	}

	// List
	ul.menu {
		@extend %resetlist;

		font-size: em(13px);

		ul.menu {
			font-size: 100%;
			margin-left: em(15px);

			li {
				&:before {
					content: "- ";
					margin-left: -10px;
					margin-top: 3px;
					position: absolute;
				}
			}
		}
	}

	// List items
	li {
		line-height: 125%;
	}

	// Links
	a,
	a:visited {
		display: block;
		padding: em(5px) 0;
		text-decoration: none;

	  &:hover,
	  &:focus,
	  &:active {
	  	color: $gray-50;
	  }
	}
}


// Navigation - Primary
#primary {
	ul {
	}
}


// Navigation - Secondary
#secondary {
	ul {
	}
}


// Social
#social {
	a,
	a:visited {
		display: block;
		float: left;
		height: 20px;
		margin-right: em(20px);
		padding: 0;
		width: 20px;

		@extend %imgrep;
	}

	// Drupal
	a.drupal {
		background: url(../images/social/drupal.png) no-repeat 0 0;

		&:hover {
			background: url(../images/social/drupal-over.png) no-repeat 0 0;
		}
	}

	// Github
	a.github {
		background: url(../images/social/github.png) no-repeat 0 0;

		&:hover {
			background: url(../images/social/github-over.png) no-repeat 0 0;
		}
	}

	// Twitter
	a.twitter {
		background: url(../images/social/twitter.png) no-repeat 0 0;

		&:hover {
			background: url(../images/social/twitter-over.png) no-repeat 0 0;
		}
	}

	// LinkedIn
	a.linkedin {
		background: url(../images/social/linkedin.png) no-repeat 0 0;

		&:hover {
			background: url(../images/social/linkedin-over.png) no-repeat 0 0;
		}
	}
}
