<!DOCTYPE html>
<!--[if IEMobile 7]><html class="iem7"><![endif]-->
<!--[if lte IE 6]><html class="lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if (IE 7)&(!IEMobile)]><html class="lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="lt-ie9"><![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)]><!--><html><!--<![endif]-->

<head>
  <meta charset="utf-8">
  <link rel="dns-prefetch" href="//use.typekit.net">
  <link rel="dns-prefetch" href="//www.google-analytics.com">
  <link rel="dns-prefetch" href="//disqus.com">
  <link rel="dns-prefetch" href="//mediacdn.disqus.com">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ page.title }} | Eternalistic</title>
  <meta name="description" content="Eternalistic is the development studio of Jeremy Caldwell. I specialize in front-end development and Drupal theming. Located in Spokane, Washington">
  <meta name="MobileOptimized" content="width">
  <meta name="HandheldFriendly" content="true">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="cleartype" content="on">
  <link href="/favicon.ico" rel="shortcut icon">

  <!--[if (lt IE 9)]>
  <link type="text/css" rel="stylesheet" href="/css/styles-ie8.css" media="all" />
  <script src="/js/html5/html5shiv.js"></script>
  <![endif]-->
   
  <!--[if (gte IE 9)|(IEMobile)|(!IE)]><!-->
  <link type="text/css" rel="stylesheet" href="/css/styles.css" media="all" />
  <!--<![endif]-->

  <!-- Fonts -->
  <script type="text/javascript" src="//use.typekit.net/mpz8ika.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

</head>

<body id="page-{{ page.body_id }}" class="{{ page.body_section }}">

  <div id="page">

    {% include skip.html %}

    {% include header.html %}

    <section id="main">
      <div id="content" role="main">
        <a id="main-content"></a>
        <article>
          {{ content }}
        </article>
      </div><!-- /#content -->
    </section><!-- /#main -->

  </div><!-- /#page -->

  {% include scripts.html %}

</body>
</html>